@model _23dh111482_My_Store.Models.ViewModel.HomeProductVM

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<section class="container-fluid searchProd">
    <h5>Tìm kiếm sản phẩm</h5>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "search-input",
           placeholder = "Nhập tên hoặc mã sản phẩm"
            })

            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }
</section>

@Html.Partial("ListProdPV", Model)

